
nav {
  background-color: #ffb1b2;
}

.nav-link{
  font-family: 'Knewave', cursive;
  color: white !important;
}

* {
  font-family: 'Knewave', cursive;
}

/* Header and Nav Bar */

.header {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100% !important;
  flex: 100% ;

}

#item {
  justify-content: space-between;
}

.footer {
  background-color: #ffb1b2;

}